body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label{
    width: 80%;
    display: inline;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    display: inline;
    max-width: 10%;
}

#privacy {
    max-width: 10%;
}

#prv {
    display: inline;
}

#vst{
    display: inline;
    max-width: 30%;
}

#emp{
    display: inline;
    max-width: 30%;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button, input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
}