{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h1>СТОМАТОЛОГИЯ В ТУШИНО «ЖЕМЧУГ»</h1>
        <p>Стоматология в Тушино «Жемчуг» – лечим зубы с 1993 года. Одна из редких возможностей, предоставляемых Тушинской стоматологией «Жемчуг» – лечение под общим наркозом. Наши врачи стоматологи – стоматологи высшей квалификации.</p>
        <p>Уже в течении 27 лет стоматология «Жемчуг» дарит своим пациентам здоровье и красивую улыбку. Наши гости уходят здоровыми и рассказывают о нас друзьям – так растёт наша востребованность. Мы гордимся тем, насколько вырос за эти годы наш штат стоматологов. Гордимся тем, что объединяем в своей команде несколько десятков отличных специалистов и энтузиастов своего дела. В 2017 году был проведён технический ребрэндинг – было создано детское отделение, закуплена новая техника в другие подразделения.</p>
        <p>В нашем новом детском кабинете стоматологии на улице Свободы квалифицированные детские стоматологи сделают все возможное, чтобы поход к врачу ассоциировался у растущего человека не с тревогой и страхом, а с радостью и чувством приятной заботы</p>
        <p>В проведении всесторонней диагностики очень помогает рентген-кабинет, с помощью которого можно отследить мельчайшие подробности состояния организма. Во многих случаях возможно лечение под наркозом – стоматология «Жемчуг» на улице Свободы имеет всё необходимое оборудование для подобных операций, а наши лечащие врачи стоматологи обладают всеми необходимыми квалификациями.</p>
    </div>

    <div class="comment-form">
        <h2>Добавить Комментарий</h2>
        <form method="POST" action="{{ url_for('reviews.add_review') }}">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="comment">Комментарий:</label>
                <textarea class="form-control" id="comment" name="comment" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

    <div class="reviews-cards">
        {% if reviews %}
            {% for review in reviews %}
                <div class="review-card">
                    <h3>{{ review.name }}:</h3>
                    <p>{{ review.review_text }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews available.</p>
        {% endif %}
    </div>

</body>
{% endblock %}